@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'plus-jakarta-sans-regular';
  src: url(/fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
  font-family: 'plus-jakarta-sans-medium';
  src: url(/fonts/PlusJakartaSans-Medium.ttf);
}
@font-face {
  font-family: 'plus-jakarta-sans-bold';
  src: url(/fonts/PlusJakartaSans-Bold.ttf);
}
